<div class="center jumbotron about">
	<h3>About Sellit!</h3>
	<p class = 'about'>
		Sellit! was designed to make it easier to get rid of crap you don't want.  You can browse items that other people are selling and post your own. Remember the old saying: "One man's trash is another man's treasure"?  Well, it's true. Post anything you like and you'll probably find a buyer(just don't post real trash, that's gross).
		<br>
		<br>
		Here at Sellit! we are always looking for ways to improve so let us know what you think and we'll do our best to make your experience as enjoyable as possible! Please direct all feedback to feedback@sellit.com
	</p>
</div>
