@import "bootstrap-sprockets";
@import "bootstrap";

$blue: #005FE8;

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}
body {
  padding-top: 50px;
}

.center {
  text-align: center;
}

.about {
  padding-left: 110px;
  padding-right: 110px;
}