@import "bootstrap-sprockets";
@import "bootstrap";

$blue: #007DD6;

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}
.btn {
  background-color: $blue
}
body {
  padding-top: 50px;
}

.center {
  text-align: center;
}

.about {
  padding-left: 100px;
  padding-right: 100px;
}

.jumbotron p {
  font-size: 16px;
}

.show {
  padding-left: 150px;
}
.row h4, h5{
 display: inline-block;
}
.row h5 {
  padding-right: 4px;
  text-transform: uppercase;
  font-size: 12px;
}
